//
// Alignments
//

%alignment-base {
  display: block;
}

@mixin align-center() {
  @extend %alignment-base;

  margin-left: auto;
  margin-right: auto;
}

@mixin align-left() {
  @extend %alignment-base;

  margin-left: 0;
  margin-right: auto;
}

@mixin align-right() {
  @extend %alignment-base;

  margin-left: auto;
  margin-right: 0;
}
