//
// Arrows
//

@mixin arrow-base-style() {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0;
  position: absolute;
  display: block;
}

@mixin arrow-up($color: #fff, $size: 1em, $x-position: map-get($x-positions, 'center')) {
  position: relative;

  &::after {
    @include arrow-base-style();
    @include position($x-position, map-get($y-positions, 'outertop'));

    // The arrow
    border-color: $color transparent;
    border-right-width: $size;
    border-left-width: $size;
    border-bottom-width: $size;
  }
}

@mixin arrow-down($color: #fff, $size: 1em, $x-position: map-get($x-positions, 'center')) {
  position: relative;

  &::after {
    @include arrow-base-style();
    @include position($x-position, map-get($y-positions, 'outerbottom'));

    // The arrow
    border-color: $color transparent;
    border-right-width: $size;
    border-left-width: $size;
    border-top-width: $size;
  }
}

@mixin arrow-left($color: #fff, $size: 1em, $y-position: map-get($y-positions, 'center')) {
  position: relative;

  &::after {
    @include arrow-base-style();
    @include position(map-get($x-positions, 'outerleft'), $y-position);

    // The arrow
    border-color: transparent $color;
    border-top-width: $size;
    border-bottom-width: $size;
    border-right-width: $size;
  }
}

@mixin arrow-right($color: #fff, $size: 1em, $y-position: map-get($y-positions, 'center')) {
  position: relative;

  &::after {
    @include arrow-base-style();
    @include position(map-get($x-positions, 'outerright'), $y-position);

    // The arrow
    border-color: transparent $color;
    border-top-width: $size;
    border-bottom-width: $size;
    border-left-width: $size;
  }
}
