// 
// Input group
// 

@mixin input-group() {
    margin-bottom: $spacer-y;
    margin-right: $spacer-x;
    
    $selector: &;
    
    @if $enable-rtl {
        @at-root {
            [dir="rtl"] {
                // Set gutter to the left on right-to-left languages
                #{$selector},
                #{$buttons} {
                    margin-right: 0;
                    margin-left: $spacer-x;
                }
                
            }
        }
    }    
    
    // Reset gutter of child elements.
    select,
    output,
    input,
    #{$buttons} {
        margin: 0 !important;
    }

    > * {
        &:not(:first-child):not(:last-child) {
            // Remove border-radius on inner elements
            border-radius: 0;
        }
    }

    @at-root {
        @include vertical(&) {
            > * {
                // Add some gutter
                margin-top: ( $spacer-y / 2 );
                margin-bottom: ( $spacer-y / 2 );
                    
                // Hide bottom border
                &:not(:last-child) {
                    border-bottom-color: transparent;
                }
                
                &:first-child {
                    // Remove bottom border-radius 
                    @include border-bottom-radius(0 !important);
                    
                    // Remove gutter
                    margin-top: 0;
                }
                
                &:last-child {
                    // Remove top border-radius 
                    @include border-top-radius(0 !important);
                    
                    // Remove gutter
                    margin-bottom: 0;
                }  
            }  
        }  

        @include horizontal(&) {
            > * {
                // Add some gutter
                margin-left: ( $spacer-x / 2 );
                margin-right: ( $spacer-x / 2 );
                    
                // Hide right border
                &:not(:last-child) {
                    border-right-color: transparent;
                }
                
                &:first-child {
                    // Remove right border-radius 
                    @include border-right-radius(0 !important);
                    
                    // Remove gutter
                    margin-right: 0;
                }
                
                &:last-child {
                    // Remove left border-radius 
                    @include border-left-radius(0 !important);
                    
                    // Remove gutter
                    margin-left: 0;
                }  
            }  
        }
    }
}