//
// Equal height on child elements of a row
//

@mixin row-eq-height() {

  @if ($enable-flex) {
    // This version only works with IE>9.
    // @see http://getbootstrap.com.vn/examples/equal-height-columns/
    display: flex;
  } @else {
    // Note: There is also a solution with `display: table` and `display: table-...`,
    // but this requires more markup (responsive reasons) and makes future updating more difficult.
    overflow: hidden;
    width: 100%;

     > * {
      padding-bottom: 99999px;
      margin-bottom: -99999px;
    }
  }
}
