//
// Typography mixins
//

// Typography helpers
// --------------------------------------------------

// Transformations

@mixin text-uppercase() {
  text-transform: uppercase;
}

@mixin text-lowercase() {
  text-transform: lowercase;
}

@mixin text-capitalize() {
  text-transform: capitalize;
}

@mixin text-small-caps() {
  font-variant: small-caps;
}

// Text sizing

@mixin text-smaller() {
  font-size: 80%;
}

@mixin text-larger() {
  font-size: 120%;
}

// Effects

@mixin text-bold() {
  font-weight: bold;
}

@mixin text-underline() {
  text-decoration: underline;
}

@mixin text-italic() {
  font-style: italic;
}

// Wrap

@mixin text-pre() {
  white-space: pre;
}

@mixin text-nowrap() {
  white-space: nowrap;
}

@mixin text-pre-wrap() {
  white-space: pre-wrap;
}

@mixin text-pre-line() {
  white-space: pre-line;
}

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Alignments

@mixin text-right() {
  text-align: right;
}

@mixin text-left() {
  text-align: left;
}

@mixin text-center() {
  text-align: center;
}

@mixin text-justify() {
  text-align: justify;
}
