/// Center aligned block level element
/// 
/// @group helpers
@mixin align-center() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/// Start aligned block level element
///
/// Left in `lft`, right in `rtl`
///
/// @param {boolean} $auto-direction
///
/// @see $enable-auto-direction
/// @group helpers
@mixin align-start($auto-direction: $enable-auto-direction) {
  @if $auto-direction and $direction == 'rtl' {
    @include align-end(false);
  } @else {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }
}

/// End aligned block level element
///
/// Right in `lft`, left in `rtl`
///
/// @param {boolean} $auto-direction
///
/// @see $enable-auto-direction
/// @group helpers
@mixin align-end($auto-direction: $enable-auto-direction) {
  @if $auto-direction and $direction == 'rtl' {
    @include align-start(false);
  } @else {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}
