/// Menu
///
/// Set this to an ordered or unordered list
///
/// @group menus
@mixin menu() {
  list-style: none;
  padding-left: 0;
  padding-right: 0;

  ul,
  ol {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
  }

  // Remove menu on prints
  @media print {
    display: none;
  }
}

/// Menu item
///
/// @group menus
@mixin menu-item() {
  position: relative;
  cursor: default;

  a {
    // Make anchors as block-level element
    display: block;
  }
}

/// Submenu
///
/// @param {boolean} $hidden [true] Whether to hide the submenu or not.
///                                 This will set the submenu to screen-reader-only mode.
///
/// @group menus
@mixin menu-submenu($hidden: true) {
  @if $hidden {
    @include sr-only();
  } @else {
    position: static;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

/// Menu dropdown
///
/// Set this to the submenu selector
///
/// @group menus
@mixin menu-submenu-dropdown() {
  position: absolute !important;
  z-index: $zindex-menu;

  @include ltr-only() {
    top: 100%;
    left: 0;
  }

  @include rtl-only() {
    left: auto;
    right: 0;
  }
}

/// Vertical menu flyout
///
/// Set this to the submenu selector
///
/// @group menus
@mixin menu-submenu-flyout() {
  // Most styles have to be `!important` to overwrite settings from groups
  position: absolute !important;
  z-index: $zindex-menu;
  top: 0 !important;

  @include ltr-only() {
    left: 100% !important;
  }

  @include rtl-only() {
    left: auto !important;
    right: 100% !important;
  }
}
