/// Pull left in `ltr` and right in `rtl`
///
/// @param {boolean} $auto-direction
///
/// @group helpers
/// @see $enable-auto-direction
@mixin pull-start($auto-direction: $enable-auto-direction) {
  @if $auto-direction and $direction == 'rtl' {
    @include float-end(false);
  } @else {
    float: left;
    margin-left: 0;
  }
}

/// Pull right in `ltr` and left in `rtl`
///
/// @param {boolean} $auto-direction
///
/// @group helpers
/// @see $enable-auto-direction
@mixin pull-end($auto-direction: $enable-auto-direction) {
  @if $auto-direction and $direction == 'rtl' {
    @include float-start(false);
  } @else {
    float: right;
    margin-right: 0;
  }
}
