//
// Sticky
//

@mixin sticky-top($zindex: $zindex-sticky-top) {
  position: fixed;
  z-index: $zindex;
  top: 0;
  left: 0;
  width: 100%;
}

@mixin sticky-bottom($zindex: $zindex-sticky-bottom) {
  position: fixed;
  z-index: $zindex;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}
