////
/// Triangle
///
/// @group triangle
////

/// Triangle base style
%triangle-base {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0;
  position: absolute;
  display: block;
}

/// Triangle up
///
/// @param {color}  $color      [#fff
/// @param {number} $size       [1em]
/// @param {string} $x-position [map-get($x-positions, 'center')]
@mixin triangle-up($color: #fff, $size: 1em, $x-position: map-get($x-positions, 'center')) {
  position: relative;

  &::after {
    @extend %triangle-base;
    @include position($x-position, map-get($y-positions, 'outertop'));

    border-color: $color transparent;
    border-right-width: $size;
    border-left-width: $size;
    border-bottom-width: $size;
  }
}

/// Triangle down
///
/// @param {color}  $color      [#fff
/// @param {number} $size       [1em]
/// @param {string} $x-position [map-get($x-positions, 'center')]
@mixin triangle-down($color: #fff, $size: 1em, $x-position: map-get($x-positions, 'center')) {
  position: relative;

  &::after {
    @extend %triangle-base;
    @include position($x-position, map-get($y-positions, 'outerbottom'));

    border-color: $color transparent;
    border-right-width: $size;
    border-left-width: $size;
    border-top-width: $size;
  }
}

/// Triangle left
///
/// @param {color}  $color      [#fff
/// @param {number} $size       [1em]
/// @param {string} $x-position [map-get($y-positions, 'center')]
@mixin triangle-left($color: #fff, $size: 1em, $y-position: map-get($y-positions, 'center')) {
  position: relative;

  &::after {
    @extend %triangle-base;
    @include position(map-get($x-positions, 'outerleft'), $y-position);

    border-color: transparent $color;
    border-top-width: $size;
    border-bottom-width: $size;
    border-right-width: $size;
  }
}

/// Triangle right
///
/// @param {color}  $color      [#fff
/// @param {number} $size       [1em]
/// @param {string} $x-position [map-get($y-positions, 'center')]
@mixin triangle-right($color: #fff, $size: 1em, $y-position: map-get($y-positions, 'center')) {
  position: relative;

  &::after {
    @extend %triangle-base;
    @include position(map-get($x-positions, 'outerright'), $y-position);

    border-color: transparent $color;
    border-top-width: $size;
    border-bottom-width: $size;
    border-left-width: $size;
  }
}
