// 
// Vertical list
// 

@mixin vertical-list() {
    display: inline-block;
    
    @include clearfix();
    
    > * {
        display: block !important;
        width: 100% !important;
        clear: both;
        float: left;
    }    
}

// Sub-list

@mixin vertical-sublist() {
    left: 100%;
    top: 0;
    position: absolute;
}

@mixin vertical-sublist-rtl() {
    right: 100%;
    left: auto;
    top: 0;
}
