//  
// Form elements
// --------------------------------------------------
// 
// Make forms responsive and mobile first.
// Label-Tags should surround the input field and it's label (no ID's needed).
//  

.button,
.submit-button,
[role="button"],
button,
label,
output,
select,
input,
textarea {
    line-height: normal; // Same line-height for all form elements
}

.button,
.submit-button,
[role="button"],
[type="button"],
[type="submit"],
[type="reset"],
button {
    text-align: center;
    cursor: pointer;
}

// Fix Chrome's and FF's `min-width: min-content;`
fieldset {
    min-width: 0; 
}

// Force IE8 to wrap long content
label {
    max-width: 100%;
}

legend {
    display: block;
    padding: 0;
    line-height: inherit;
    border: 0;
}

textarea {
    vertical-align: top;
    min-height: 1.5em;
    max-width: 100%; // Do not overflow it's parent
}

// Fix vertical align on input[type="range"]
[type="range"] {
    vertical-align: middle;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}

// Fix FF opacity settings (so only color have to be set in the theme)
:-moz-placeholder { // FF 4-18 */
    opacity: 1;
    color: #757575;
}
::-moz-placeholder { // FF 19+
    opacity: 1;
    color: #757575;
}

input {
    &[type="color"] {
        min-width: 3em; // Prevent very small input[type="color"] in FF
    }

    // Remove iOS rounded corners on [type="search"]
    // Fix unexpected ::placeholder rendering 
    &[type="email"],
    &[type="search"] {
        /* autoprefixer: off */
        -webkit-appearance: textfield;
           -moz-appearance: textfield;
                appearance: textfield;
    }
}

form {

    // In-line form elements
    // Can be applied to `<form>` or to any parent
    &.horizontal-xs,
    .horizontal-xs {
        > * {
            margin-left: @input-gutter-width;
        }
        > *:first-child {
            margin-left: 0;
        }
    }

    &.horizontal-sm,
    .horizontal-sm {
        @media (min-width: @screen-sm-min) {
            > * {
                margin-left: @input-gutter-width;
            }
            > *:first-child {
                margin-left: 0;
            }
        }
    }

    &.horizontal-md,
    .horizontal-md {
        @media (min-width: @screen-md-min) {
            > * {
                margin-left: @input-gutter-width;
            }
            > *:first-child {
                margin-left: 0;
            }

        }
    }

    &.horizontal-lg,
    .horizontal-lg {
        @media (min-width: @screen-lg-min) {
            > * {
                margin-left: @input-gutter-width;
            }
            > *:first-child {
                margin-left: 0;
            }

        }
    }

    // Set gutter to input groups  
    .input-group {
        margin-bottom: @input-gutter-height;
    }
    
    .hidden-file-upload,
    output,
    select,
    textarea,
    [type="color"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="email"],
    [type="file"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="range"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="time"],
    [type="url"],
    [type="week"] {
        display: block;
        width: 100%; // Make all form elements 100% width (mobile first)
        margin-bottom: @input-gutter-height;
    }
    
    label {
        display: block;
        width: 100%; // Make all form elements 100% width (mobile first)
    }
}

// IE 8 does not support CSS 3 selector `:not()`
// So we have to repeat this selectors and overwrite these styles
.label-text-inline {
    .hidden-file-upload,
    output,
    select,
    textarea,
    [type="color"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="email"],
    [type="file"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="range"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="time"],
    [type="url"],
    [type="week"] {
        display: inline-block;
        width: auto;
    }
}

// Enable labels as grid row
label.row {
    max-width: none; // Rows are greater than 100% (gutter left and right) -> reset max width
    width: auto;
    display: block;
    
    margin-bottom: @input-gutter-height; // Gutter now applied to the row (`<label class="row">`)
    
    .hidden-file-upload,
    output,
    select,
    textarea,
    [type="color"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="email"],
    [type="file"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="range"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="time"],
    [type="url"],
    [type="week"] {
        margin-bottom: 0; // Reset gutter after elements, this is now applied to the row
    }
}

// Make input[type="file"] invisible but still functional
// @see http://www.quirksmode.org/dom/inputfile.html
.hidden-file-upload {
    position: relative;
    overflow: hidden;
    
    input[type="file"] {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }    
}
