/**
 * Helpers
 *
 * Just a few helper classes
 * - Text helpers
 * - Floatings
 * - Clearfix
 * - Alignments
 * - Hide helpers
 */ 

@import "mixins/clearfix.less";

// Text transformations
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.small-caps {
    font-variant: small-caps;
}

// Text sizing
.smaller {
    font-size: 80%;
}

.larger {
    font-size: 120%; // Fixed value to apply in all browsers the same value
}

// Text effects
.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

// Text wrap
.pre {
    white-space: pre;
}

.nowrap {
    white-space: nowrap;
}

.pre-wrap {
    white-space: pre-wrap;
}

.pre-line {
    white-space: pre-line;
}

// Text alignments
.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

// Floatings
.float-right {
    float: right;
    margin-right: 0 !important;
}

.float-left {
    float: left;
    margin-left: 0 !important;
}

.float-center {
    // ?
}

.float-none {
    float: none;
}

// Clearfix
.clearfix {
    .clearfix();
}

// Alignments
.align-center,
.align-left,
.align-right {
    display: block;
}

.align-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.align-left {
    margin-left: 0;
    margin-right: auto !important;
}

.align-right {
    margin-left: auto !important;
    margin-right: 0;
}

// Wrap
// Wrap a element to the full size of it's parent
.wrap {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// Hide elements completely from the screen
// Still not enough for some screen-readers; additional use [aria-hidden="true"]
// 
// - collapse: yes
// - screen-readers: no
// - events: no
.hidden {
    display: none !important;
    visibility: hidden !important;
} 

// Access-able for screen-readers
// `visibility: hidden` isn't read by some screen-readers
// @see http://a11yproject.com/posts/how-to-hide-content/
// 
// - collapse: yes
// - screen-readers: yes
// - events: no
.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

// Same as `.invisible` but shown while active/focused
// @see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// 
// - collapse: yes
// - screen-readers: yes
// - events: only when focus/active
.invisible-focusable {
    .invisible;
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

// Hide element but preserve space
// `visibility: hidden` isn't read by some screen-readers
// 
// - collapse: no
// - screen-readers: yes
// - events: yes
.invisible-preserve {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE 8
    filter: alpha(opacity=0); // IE 5-7
    opacity: 0;
}

// Hide on all screen devices
// Only set it to affected devices, so we don't have to reset anything
// 
// - collapse: yes
// - screen-readers: no
// - events: no
@media handheld, projection, screen, tv {
    .print {
        .hidden;
    }
}

// Hide on print devices
// Only set it to affected devices, so we don't have to reset anything
// 
// - collapse: yes
// - screen-readers: no
// - events: no
@media embossed, print {
    .noprint {
        .hidden;
    }
}