//  
// Positions
// --------------------------------------------------
// 
// Position an element relative to it's parent.
// Doesn't work properly with IE<9 (property: transform), only on center elements.
// 
 
.position-container {
    position: relative;
}

.outerleft-outertop,
.outerleft-top,
.outerleft-center,
.outerleft-bottom,
.outerleft-outerbottom,
.left-outertop,
.left-top,
.left-center,
.left-bottom,
.left-outerbottom,
.center-outertop,
.center-top,
.center-center,
.center,
.center-bottom,
.center-outerbottom,
.right-outertop,
.right-top,
.right-center,
.right-bottom,
.right-outerbottom,
.outerright-outertop,
.outerright-top,
.outerright-center,
.outerright-bottom,
.outerright-outerbottom {
    position: absolute;
    display: block;
}

// Outer-top
.outerleft-outertop,
.left-outertop,
.center-outertop,
.right-outertop,
.outerright-outertop {
    top: auto;
    bottom: 100%;
}

// Top
.outerleft-top,
.left-top,
.center-top,
.right-top,
.outerright-top {
    top: 0;
}

// Outer-bottom
.outerleft-outerbottom,
.left-outerbottom,
.center-outerbottom,
.right-outerbottom,
.outerright-outerbottom {
    top: 100%;
}

// Bottom
.outerleft-bottom,
.left-bottom,
.center-bottom,
.right-bottom,
.outerright-bottom {
    top: auto;
    bottom: 0;
}

// Outer-left
.outerleft-outertop,
.outerleft-top,
.outerleft-center,
.outerleft-bottom,
.outerleft-outerbottom {
    left: auto;
    right: 100%;
}

// Left
.left-outertop,
.left-top,
.left-center,
.left-bottom,
.left {
    left: 0;
}

// Right
.right-outertop,
.right-top,
.right-center,
.right-bottom,
.right-outerbottom {
    left: auto;
    right: 0;
}

// Outer-right
.outerright-outertop,
.outerright-top,
.outerright-center,
.outerright-bottom,
.outerright-outerbottom {
    left: 100%;
}

// Horizontal center
.center-outertop,
.center-top,
.center-center,
.center,
.center-bottom,
.center-outerbottom {
    left: 50%;
    transform: translateX(-50%);
}

// Vertical center
.outerleft-center,
.left-center,
.center-center,
.center,
.right-center,
.outerright-center {
    top: 50%;
    transform: translateY(-50%);
}

// Center center
.center-center,
.center {
    transform: translate(-50%, -50%);
}

@media (max-width: @screen-xs-max) {
    .position-reset-xs {
        .position-reset();
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .position-reset-sm {
        .position-reset();
    }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .position-reset-md {
        .position-reset();
    }
}

@media (min-width: @screen-lg-min) {
    .position-reset-lg {
        .position-reset();
    }
}
