//  
// Menus
// --------------------------------------------------
// 
// Build simple menus/navigations with unordered lists.
// Ready for multi-dimensional menus with `:hover` effect.
// 

#{$menus} {
    z-index: $zindex-menu;
    position: relative;
    
    @include remove-list-appearance();
    
    li {
        position: relative;
        
        > ul {
            @include remove-list-appearance();
        }    
    
        // Make anchors as block-level element
        // So paddings will expand the hit-box
        > a {
            display: block; 
        }

        // Hide sub-menu
        > ul,
        > .submenu {
            display: none;
        }   
    }
        
    // Show sub-menu via `.active` or `:hover` of its parent 
    li:hover {
        > ul,
        > .submenu {
            display: block; 
        }
    }
    
    // Force it with `.active` class
    li.active {
        > ul,
        > .submenu {
            display: block !important; 
        }
    }

    // Breakpoints
    //
    // _Menu_ works create with _Orientations_, but there a few settings to correct
    @at-root {
        @include vertical(&) {  
            > li {                    
                ul {
                    @include vertical-sublist();
                }
            }
        }
        
        @include horizontal(&) {
            > li {
                ul {
                    @include horizontal-sublist();
                    
                    ul {
                        @include vertical-sublist();
                    }
                }
            }
        }
    }
}
    
// Unbind hover
//
// Disable the ':hover'-effect. Use JavaScript instead.
// Now, this can be set to sublists (in v3, this could only set to the whole menu)
.unbind-hover {
    li:hover {
        > ul,
        > .sublist {
            display: none; 
        }
    }
}

// RTL support
@if $enable-rtl {
    [dir="rtl"] {
        @include vertical('.menu') {
            ul {
                @include vertical-sublist-rtl();
            }
        }
        
        @include horizontal('.menu') {
            ul {
                @include horizontal-sublist-rtl();
                
                ul {
                    @include vertical-sublist-rtl();
                }
            }
        }
    }
}

// Remove menu on prints
@media print {
    .menu {
        display: none;
    }
}
