#{$form-fields} {
  // Make all form elements 100% width (mobile first).
  width: 100%;
  display: block;

  margin-bottom: $spacer-y;
}

#{$buttons} {
  margin-bottom: $spacer-y;
}

textarea {
  // There is no need to resize horizontally.
  @include resizable(vertical);
}

// Enable labels as grid row (`<label class="row">`)
label.row {
  // Rows are greater than 100% (gutter left and right) -> reset max width.
  max-width: none;
  width: auto;
}

label {
  // Increase label hit-box
  padding-top: $spacer-y / 4;
  padding-bottom: $spacer-y / 4;
  // Since label wraps input fields, bottom spacing isn't required.
  margin-bottom: 0;

  #{$input-fields} {
    margin-bottom: $spacer-y * 3 / 4;
  }
}

// Remove padding on color input
[type="color"] {
  padding: 0 !important;
}

// Block level button w/ 100% width
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .button-block-#{$breakpoint}-up {
      display: block;
      width: 100%;
    }
  }

  @include media-breakpoint-down($breakpoint) {
    .button-block-#{$breakpoint}-down {
      display: block;
      width: 100%;
    }
  }
}
