//
// Images
// --------------------------------------------------
//
// Default behavior of images.
// Images in anchors and figures.
//

img {
  // Images should not overflow it's parent.
  max-width: 100%;
  max-height: 100%;

  // Proportional scaling - now, we only have to set the width.
  height: auto;

  // Prettify IE image scaling.
  -ms-interpolation-mode: bicubic;

  // Remove gap after images inside of anchors.
  // Makes it easier to handle icons in-line of text.
  vertical-align: top;
}

a {
  img {
    // Prevent border on click-able images .
    border: 0;
  }
}

figure {
  // Remove default margins
  margin: 0;

  @include figure();

  img {
    @include figure-image();
  }

  figcaption {
    @include figure-caption();
  }
}
