//
// Tables
// --------------------------------------------------
//
// Make tables responsive via horizontal-scrolling and 100% width.
//

table {
  // Get the full width
  width: 100%;

  caption {
    text-align: center;

    // Table caption should be under the tables
    caption-side: bottom;
  }

  th,
  td {
    vertical-align: top;
    text-align: left;
  }
}

// RTL tables
@if $enable-rtl {
  [dir="rtl"] {
    th,
    td {
      text-align: right;
    }
  }
}

// Responsive table
//
// Wrap tables to make it responsive.
.table-responsive {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}
