//
// Tables
//

table {
  margin-bottom: $spacer-y;
}

// Responsive table
//
// Wrap tables to make it responsive.
.table-responsive {
  @include table-responsive();

  margin-bottom: $spacer-y;

  table {
    margin-bottom: 0;
  }
}
