//
// Typography
//

// Spacing
#{$headers},
blockquote,
dd,
ul,
ol,
p,
pre {
  margin-bottom: $spacer-y;
}

// Remove bottom-spacing on sublists
ul,
ol {
  ul,
  ol {
    margin-bottom: 0;
  }
}

hr {
  border-width: 0;
  border-top-width: 1px;
  margin-bottom: $spacer-y;
}

dt {
  font-weight: bolder;
}

// Some print styles
@media print {
  // Add phrase after abbreviation
  @include rtl-only() {
    abbr[title]::before {
      content: " ("attr(title)")";
    }
  }
  @include ltr-only() {
    abbr[title]::after {
      content: " ("attr(title)")";
    }
  }

  // Mark links
  a,
  a:visited {
    text-decoration: underline;
  }
}
