//
// Selectors
//
// Some selectors are used within the framework, some not. Anyway they are
// very helpful to start styling your theme.
//

//
// Typography
//

/// All headers (`<h1>` - `<h6>` and classes)
///
/// @type string
/// @group selectors
$headers: unquote('h1, h2, h3, h4, h5, h6') !default;

/// Links
///
/// Exclude all button selectors.
///
/// @type string
/// @group selectors
$links: unquote('a:not(.button):not(.submit-button):not(.reset-button):not([role="button"])') !default;

/// All lists (`<ul>` and `<ol>`)
///
/// @type string
/// @group selectors
$lists: unquote('ul, ol') !default;


//
//  Forms
//

/// All buttons
///
/// @type string
/// @group selectors
$buttons: unquote('
  .button,
  [type="button"],
  [type="submit"],
  [type="reset"],
  [type="image"],
  button
') !default;

/// Date and time input fields
///
/// @type string
/// @group selectors
$date-time-fields: unquote('
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="time"],
  [type="week"],
  [type="month"]
');

/// Contact input fields
///
/// @type string
/// @group selectors
$contact-fields: unquote('
  [type="email"],
  [type="tel"],
  [type="url"]
');

/// Input fields
///
/// All form fields where the user can input some data. This is an opinionated
/// list where at least the border is style-able.
///
/// Excluded are checkboxes, radio-buttons and [type="range"].
///
/// @type string
/// @group selectors
$input-fields: unquote('
  [type="text"],
  [type="password"],
  [type="search"],
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="time"],
  [type="week"],
  [type="month"],
  [type="email"],
  [type="tel"],
  [type="url"],
  [type="file"],
  [type="number"],
  [type="color"],
  select,
  keygen,
  textarea
') !default;

/// All form fields without checkboxes/radio-buttons and without buttons.
///
/// Checkboxes and radio-buttons are excluded because they are hardly style-able.
///
/// @type string
/// @group selectors
$form-fields: join(
  unquote('
    [type="range"],
    output,
    keygen,
    label,
    legend
  '),
  $input-fields,
comma) !default;
