//
// Variables
//
// This are the default values of all variables.
//

// Spacing
//
// Control the default styling of most Components by modifying these variables.

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;


// Form buttons
//
// Buttons should have some vertical padding.

$button-padding-x: ( $spacer-x / 2 ) !default;


// Form colors
//
// To start in each browser on the same thing, we define some default colors.

$border-color:                #bbb !default;
$border-color-hover:          #bbb !default;
$border-color-highlight:      #999 !default;

$button-background:           #f5f5f5 !default;
$button-background-hover:     #eaeaea !default;
$button-background-highlight: #dfdfdf !default;


// Position names
//
// Rename position names.
// Will also rename the class names.

$x-positions: (
  'outerleft':    'outerleft',
  'left':         'left',
  'center':       'center',
  'right':        'right',
  'outerright':   'outerright'
) !default;

$y-positions: (
  'outertop':     'outertop',
  'top':          'top',
  'center':       'center',
  'bottom':       'bottom',
  'outerbottom':  'outerbottom'
) !default;

// Support RTL
//
// Enable right-to-left fixes. This will compile the framework with the ability to adapt
// all components to RTL via `<body dir="rtl">`.

$enable-rtl: true !default;

// Class contain selector
//
// Enable the [class*=value] selector.
// This will safe a lot of space but can be buggy when u are using class names with
// syntaxes used in this framework.
//
// Affects: `horizontal-`, `vertical-`

$enable-class-contain: true !default;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 34em,
  // Medium screen / tablet
  md: 48em,
  // Large screen / desktop
  lg: 62em,
  // Extra large screen / wide desktop
  xl: 75em
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 34rem,    // 480
  md: 45rem,    // 720
  lg: 60rem,    // 960
  xl: 72.25rem  // 1140
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 1.875rem !default; // 30px


// Flex
//
// Bootstrap 4.0 introduced an option for using `flex`. Now, we will support it as well.
// Take note that this isn't supported by IE<10.

$enable-flex: false !default;


// Z-Indices

$zindex-sticky-top: 100 !default;
$zindex-sticky-bottom: 100 !default;
$zindex-menu: ($zindex-sticky-bottom + 1) !default;
$zindex-overlay: 10000 !default;


// WordPress gallery columns
//
// Define how much columns are displayed on the specific breakpoints.
// You can select up to 9 columns in WordPress by default.
// The index defines the selected columns count.
// Default map is `(1, 2, 3, 4, 5, 6, 7, 8, 9)`.

$wordpress-gallery-columns-map: (
  xs: (1, 1, 1, 1, 1, 1, 1, 1, 1),
  sm: (1, 1, 1, 2, 2, 2, 2, 3, 3),
  md: (1, 1, 2, 2, 3, 4, 5, 6, 6),
  lg: (1, 2, 3, 4, 4, 5, 6, 7, 8),
  xl: (1, 2, 3, 4, 5, 6, 7, 8, 9)
) !default;
