//
// Variables
//
// This are the default values of all variables.
//

//
// Options
//

/// Enable grid classes (+ ~19.1 KB minified)
///
/// @group grid
/// @type boolean
$enable-grid-classes: true !default;

/// Enable position classes (+ ~2.2 KB minified)
///
/// @group position
/// @type boolean
$enable-position-classes: false !default;

/// Enable automatic direction changes
///
/// This will swap left-to-right to right-to-left if `$direction` is `rtl`.
/// This way there is no need to change the HTML markup.
///
/// @example
///   if `$direction` is `ltr`:
///     .text-start { text-align: left }
///
///   if `$direction` is `rtl`:
///     .text-start { text-align: right }
///
/// @type boolean
$enable-auto-direction: true !default;

/// Language direction
///
/// This will compile the framework for right-to-left or left-to-right languages.
///
/// Options: 'rtl', 'ltr'
///
/// @type string
$direction: 'ltr' !default;


//
// Spacer
//

/// Control the default styling of most elements by modifying this variable.
///
/// @type number
$spacer:   1rem !default;

/// Horizintal spacing
///
/// @type number
$spacer-x: $spacer !default;

/// Vertical spacing
///
/// @type number
$spacer-y: $spacer !default;

/// Map of spacings
///
/// Used for spacing helper classes
///
/// @type map
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  )
) !default;


//
// Groups
//

/// Group item border width
///
/// The collapsing border of merged groups are set via negative margins which correspond
/// with the border width.
///
/// @type number
/// @group groups
$group-collapse-border-width: 1px !default;

/// Gutter between group items
///
/// @type number
/// @group groups
$group-gutter-width: $spacer !default;


//
// Positions
//

/// Horizontal position names
///
/// @type map
/// @group position
$x-positions: (
  'outerleft':    'outerleft',
  'left':         'left',
  'center':       'center',
  'right':        'right',
  'outerright':   'outerright'
) !default;

/// Vertical position names
///
/// @type map
/// @group position
$y-positions: (
  'outertop':     'outertop',
  'top':          'top',
  'center':       'center',
  'bottom':       'bottom',
  'outerbottom':  'outerbottom'
) !default;


//
// Grid
//

/// Define the minimum and maximum dimensions at which your layout will change,
/// adapting to different screen sizes, for use in media queries.
///
/// @type map
/// @group grid
$grid-breakpoints: (
  xs: 0,     // Extra small screen / phone
  sm: 544px, // Small screen / phone
  md: 768px, // Medium screen / tablet
  lg: 992px, // Large screen / desktop
  xl: 1200px // Extra large screen / wide desktop
) !default;

/// Grid container width
///
/// Define the maximum width of `.container` for different screen sizes.
///
/// @type map
/// @group grid
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;

/// Set the number of grid columns.
///
/// @type number
/// @group grid
$grid-columns:      12 !default;

/// Specify the width of the gutters between grid columns.
///
/// @type number
/// @group grid
$grid-gutter-width: 1.875rem !default; // 30px


//
// Z-Indices
//

/// @type number
/// @group layout
$zindex-sticky-top:      101 !default;

/// @type number
/// @group layout
$zindex-sticky-bottom:   ($zindex-sticky-top - 1) !default;

/// @type number
/// @group menus
$zindex-menu:            ($zindex-sticky-top + 1) !default;

/// @type number
/// @group layout
$zindex-overlay:         10000 !default;

/// @type number
/// @group groups
$zindex-group-hover:     1 !default;

/// @type number
/// @group groups
$zindex-group-highlight: 2 !default;


//
// WordPress
//

/// WordPress gallery columns
///
/// Define how much columns are displayed on the specific breakpoints. You can
/// select up to 9 columns in WordPress by default. The index represents the
/// selected columns count in WordPress.
///
/// `(1, 2, 3, 4, 5, 6, 7, 8, 9)` is the default map - this will keep the
/// selected column count from WordPress. If you want to show maximum 5 images in
/// a row on `xs`-devices you have to set the map `(1, 2, 3, 4, 5, 5, 5, 5, 5)`
/// to the `xs` key.
///
/// @type map
/// @group wordpress
$wordpress-gallery-columns-map: (
  xs: (1, 1, 1, 1, 1, 1, 1, 1, 1),
  sm: (1, 1, 1, 2, 2, 2, 2, 3, 3),
  md: (1, 1, 2, 2, 3, 4, 5, 6, 6),
  lg: (1, 2, 3, 4, 4, 5, 6, 7, 8),
  xl: (1, 2, 3, 4, 5, 6, 7, 8, 9)
) !default;
