
// Components
@import "components/forms.less";
@import "components/helpers.less";
@import "components/menus.less";
@import "components/orientations.less";
@import "components/tables.less";
@import "components/wordpress.less";

// Vendor components
@import "vendor/normalize.less";
@import "vendor/grid.less";
@import "vendor/media.less";
@import "vendor/responsive-utilities.less";
@import "vendor/responsive-embed.less";

// Media queries breakpoints
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

// Grid system
@grid-columns: 12;          // Number of columns in the grid.
@grid-gutter-width: 30px;   // Padding between columns. Gets divided in half for the left and right.

// Container sizes
// Define the maximum width of `.container` for different screen sizes.
@container-tablet: (720px + @grid-gutter-width);    // Small screen / tablet
@container-sm: @container-tablet;                   // For `@screen-sm-min` and up.
@container-desktop: (940px + @grid-gutter-width);   // Medium screen / desktop
@container-md: @container-desktop;                  // For `@screen-md-min` and up.
@container-large-desktop: (1140px + @grid-gutter-width); // Large screen / wide desktop
@container-lg: @container-large-desktop;            // For `@screen-lg-min` and up.
